<div class="card-deck">
    {% for item in site.team %}
      <div class="card">
        <a href="{{ site.baseurl }}{{ item.url }}">
          <img class="card-img-top" src="{{ site.baseurl }}{{ item.image }}" alt="photo of {{ item.name }} " style="height:271px; max-height: 336px; max-width:336px; width: 263px;">
          <div class="card-body">
            <h2 class="card-title">{{ item.name }}</h2>
            <p class="card-text">{{ item.job_title }}</p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>